@using StoryLibrary.Views.Component;
@using StoryLibrary.Views.Shared;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Đại Đạo Viện</title>

    @await RenderSectionAsync("Header", required: false)
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/StoryLibrary.styles.css" asp-append-version="true" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    @*<component type="typeof(Loading)" render-mode="Static"></component>*@

    <div class="wrapper">

        @await Component.InvokeAsync("Menu", new { PageName=@ViewData["TitlePage"]== null ?"Trang chủ": @ViewData["TitlePage"].ToString()})
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 text-right">
                    Copyright 2023 <a href="#">Đại Đạo Viện</a>
                </div>
            </div>
        </div>
    </footer>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0&appId=1387477262001745&autoLogAppEvents=1" nonce="lKUecG0c"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    @*<script src="/js/apexcharts.js"></script>*@
    <!-- Slick JavaScript -->
    <script src="/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    @*<script src="/js/owl.carousel.min.js"></script>*@
    <!-- Magnific Popup JavaScript -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="/js/smooth-scrollbar.js"></script>
    <!-- lottie JavaScript -->
    @*<script src="/js/lottie.js"></script>*@
    <!-- am core JavaScript -->
    @*<script src="/js/core.js"></script>*@
    <!-- am charts JavaScript -->
    @*<script src="/js/charts.js"></script>*@
    <!-- am animated JavaScript -->
    <!--<script src="/js/animated.js"></script>-->
    <!-- am kelly JavaScript -->
    @*<script src="/js/kelly.js"></script>*@
    <!-- am maps JavaScript -->
    @*<script src="/js/maps.js"></script>*@
    <!-- am worldLow JavaScript -->
    <script src="/js/worldLow.js"></script>
    <!-- Raphael-min JavaScript -->
    @*<script src="/js/raphael-min.js"></script>*@
    <!-- Morris JavaScript -->
    @*<script src="/js/morris.js"></script>*@
    <!-- Morris min JavaScript -->
    @*<script src="/js/morris.min.js"></script>*@
    <!-- Flatpicker Js -->
    @*<script src="/js/flatpickr.js"></script>*@
    <!-- Style Customizer -->
    <script src="/js/style-customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="/js/custom.js"></script>
</body>
</html>
