
*.2
*.2
*.2
*.bin
*.2
.vs/StoryLibrary/v17/.suo
*.v2
*.pdb
*.2
*.dll
/.vs
/.vs
/bin
/obj
/.vs
/.vs
/.vs
.vs/
StoryLibrary.zip
.vs/ProjectEvaluation/storylibrary.metadata.v5.2
.vs/ProjectEvaluation/storylibrary.metadata.v5.2
obj/Debug/net6.0/StoryLibrary.dll
obj/Release/net6.0/PubTmp/Out/StoryLibrary.dll
obj/*
/.vs
/bin
